secrets.yaml
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
known_devices.yaml
OZW_Log.txt
emulated_hue_ids.json
*.xml
*.sqlite
.uuid
.well-known
.HA_VERSION
deps/
icloud/
.storage/
tts/
