- id: '1550763258027'
  alias: Gaming Computer Turn On
  trigger:
  - entity_id: binary_sensor.ping_gaming_computer
    from: 'Off'
    platform: state
    to: 'On'
  condition: []
  action:
  - data:
      entity_id: group.game_lights
    service: light.turn_on
- id: '1571780560610'
  alias: TV Light On Sync
  trigger:
  - entity_id: light.hue_white_lamp_1_3
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data:
      entity_id: light.a19_w_60_01
    service: light.turn_on
- id: '1571780724238'
  alias: TV Light On
  trigger:
  - entity_id: light.hue_white_lamp_1_3
    from: 'OFF'
    platform: state
    to: 'ON'
  condition: []
  action:
  - data:
      entity_id: light.a19_w_60_01
    service: light.turn_on
