homeassistant:
  name: Home
  latitude: !secret location_lat
  longitude: !secret location_lon
  elevation: !secret location_elevation
  unit_system: imperial
  time_zone: America/New_York
  customize: !include customize.yaml

http:
  base_url: !secret http_base_url
  ssl_certificate: !secret http_ssl_cert
  ssl_key: !secret http_ssl_key

mqtt:
  broker: !secret ip_mqtt
  port: 1883
  username: !secret mqtt_username
  password: !secret mqtt_password
  client_id: home-assistant
  keepalive: 60
  birth_message:
    topic: 'hass/status'
    payload: 'online'
    qos: 1
    retain: true
  will_message:
    topic: 'hass/status'
    payload: 'offline'
    qos: 1
    retain: true


# Checks for available updates
updater:

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

config:

recorder:
  purge_interval: 14
  purge_keep_days: 2

# Track the sun
sun:

system_health:

# Climate Controls
#climate:
#  platform: honeywell
#  username: !secret honeywell_username
#  password: !secret honeywell_password
#  region: us



# Mobile Notifications
notify:
  - name: pushovernotification
    platform: pushover
    api_key: !secret pushover_api_key
    user_key: !secret pushover_user_key


# Enable support for Alexa
emulated_hue:
  host_ip: !secret ip_local
  expose_by_default: true
  exposed_domains:
    - light
    - switch
    - lock
    - group
    - scene

# Enable support for Google Home
google_assistant:
  project_id: !secret google_project_id
  api_key: !secret google_api_key
  exposed_domains:
    - switch
    - light
    - group
    - scene

ifttt:
  key: !secret ifttt_key

alexa:

wemo:

tplink:
  discovery: false
  switch:
    - host: !secret ip_tplink_1
    - host: !secret ip_tplink_2

#########################
# INCLUDES
group: !include_dir_merge_named groups
zone: !include_dir_list zones
automation: !include_dir_list automations
sensor: !include_dir_merge_list sensors
binary_sensor: !include_dir_merge_list binary_sensors
device_tracker: !include_dir_list trackers
switch: !include_dir_list switches
intent_script: !include intents.yaml
camera: !include_dir_list cameras
scene: !include_dir_merge_list scenes
light: !include_dir_list lights
script: !include scripts.yaml
###########################

ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg


zwave:
  usb_path: /dev/zwave
  config_path: /srv/hass/lib/python3.5/site-packages/libopenzwave-0.3.1-py3.5-linux-armv7l.egg/config

#logger:
#  default: debug
#  logs:
#    homeassistant.components.climate: debug

##########################
# Enable Front UI
##########################
frontend:
  themes: !include_dir_merge_named themes
#    testtheme:
#      primary-color: blue
